
{% extends "base.html" %}

{% block main %}
      <div class="container">
        <form action="/search" class="col s12">
          <div class="row logo-field">
            <div class="col l6 offset-l3 s10 offset-s1 center-align">
              <img src="/static/img/logo.png" alt="logo" class="logo">
            </div>
          </div>
          <div class="row search-field">
            <div class="input-field col s8 offset-s2 center-align">
              <input placeholder="Search" type="text" name="key" autocomplete="off">
            </div>
          </div>
        </form>
      </div>

{% endblock %}
