{% extends "base.html" %}
{% block nav %}
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img alt="logo" src="/static/img/logo-small.png">
            </a>
            <form action="/search" class="main">
                <div class="input-field">
                    <input placeholder="Search" type="text" name="key" autocomplete="off" value="{{ query }}">
                </div>
            </form>
        </div>
{% endblock %}

{% block main %}
        <div class="row">
            <div class="col s6 offset-s1">
                <div class="gray search-result-summary">
                    共找到 {{ total }} 条结果
                </div>

            {% for torrent in  torrents %}
                <div>
                    <div class="bt-item">
                        <div>
                            <a href="magnet:?xt=urn:btih:{{ torrent.Infohash }}">{{ torrent.Name }}</a>
                        </div>
                        <ul class="file-list">
                        {% for file in torrent.Files %}
                            <li>
                                {{ file.Name }}
                            </li>
                        {% endfor %}
                        </ul>
                        <div class="status">
                            <ul>
                                <li>
                                    size: {{ torrent.Length|filesizeformat }}
                                </li>
                                <li>
                                    files: {{ torrent.FileCount }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>

        <div class="row">
            <div class="col s6 offset-s1">
                <ul class="pagination">
                {% for page in pagination.Pages %}
                    {% if (page.Number == pagination.Start) && (page.Number > 1) %}
                    <li>
                        <a href="/search?key={{ query }}&page={{ page.Number - 1 }}">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% if page.Active %}
                    <li class="active"><a href="{{ page.Link }}"> {{ page.Number }}</a></li>
                    {% else %}
                    <li class="waves-effect"><a href="{{ page.Link }}"> {{ page.Number }}</a></li>
                    {% endif %}

                    {% if (page.Number == pagination.End) && (page.Number < pagination.Total) %}
                    <li class="waves-effect">
                        <a href="/search?key={{ query }}&page={{ page.Number + 1 }}">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>

{% endblock %}
